<div
  class="card"
  style="width: 25rem"
  *ngIf="!this.request_state.ticket.length"
>
  <img
    [src]="'https://media1.giphy.com/media/SsTcO55LJDBsI/giphy.gif'"
    class="card-img-top"
    alt="..."
  />
  <div class="card-body">
    <h5 class="card-title">Pay Via Moneris Checkout</h5>
    <!-- <p class="card-text">Sample Text</p> -->
  </div>
  <ul class="list-group list-group-flush">
    <li class="list-group-item">Order ID: {{ order_id }}</li>
    <li class="list-group-item" *ngIf="!!this.tax_percentage">
      Payable tax: {{ this.tax_percentage }}%
    </li>
  </ul>
  <div class="card-body">
    <a
      href="#"
      [ngClass]="{
        btn: true,
        'btn-primary': true,
        disabled: this.request_state.loading
      }"
      (click)="this.confirmCheckout()"
    >
      <span
        *ngIf="this.request_state.loading"
        class="spinner-border spinner-border-sm"
        role="status"
        aria-hidden="true"
      ></span>
      Checkout ${{ this.order_value }}</a
    >
    <a
      href="#"
      class="btn btn-link"
      [ngClass]="{ disabled: this.request_state.loading }"
      (click)="this.cancelCheckout()"
      >Cancel</a
    >
  </div>
</div>

<app-moneris-checkout
  *ngIf="!!this.request_state.ticket.length"
  [ticket]="this.request_state.ticket"
></app-moneris-checkout>
